.user-input {
  padding: 7px 5px 7px 5px;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  width: 200px;
  border: none;
  border: 1px solid rgb(52, 58, 64);
  color: rgb(56, 64, 72);
}
.user-input:focus {
  border-color: rgb(72, 128, 255);
}

.user-input.error {
  border-color: rgb(224, 0, 0);
}
